@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --font-playfair: 'Playfair Display', serif;
  --font-cormorant: 'Cormorant Garamond', serif;
}

body {
  font-family: var(--font-cormorant), serif;
}

h1, h2, h3, h4, h5, h6 {
  font-family: var(--font-playfair), serif;
}

.font-playfair {
  font-family: var(--font-playfair);
}

.font-cormorant {
  font-family: var(--font-cormorant);
}